= form_with(model: idea) do |form|
  - if idea.errors.any?
    #error_explanation
      %h2
        = pluralize(idea.errors.count, "error")
        prohibited this idea from being saved:
      %ul
        - idea.errors.each do |error|
          %li= error.full_message
  .field
    = form.text_field :title, class: 'text_field w-100', placeholder: '名言'
  -# .field
  -#   = form.label :detail, '詳細'
  -#   = form.text_area :detail, class: 'text_area'
  .actions
    = form.submit '保存', class: 'submit'
